<!-- ACESSE: https://tradetechnologyltda.sharepoint.com/:b:/s/intranet/Ef_mx0HD4XdKme8wke6UGQUBT8GCc_DMAyOaedcEVb8TLA?e=QXn6aA -->
<!-- PAGINA DO GULP https://tradetechnology.gupy.io/candidates/applications/288640807/test -->
<div class="section-login">
    <div class="login-box">
        <div class="login-box__items d-grid gap-3">
            <h1 class="txt-3 px-4">LOREM IPSUN DOMINUS LOREM</h1>
            <small class="px-4">aqui vai alguma coisa</small>
            <form action="" class="px-4">
                <div class="input-group">
                    <input type="text" id="name" class="form-input">
                    <label for="name" class="form-input__label">Número de acesso</label>
                  </div>
            </form>
        </div>
    </div>
</div>
