//MEDIDAS RELATIVAS 
$full-width: 100vw; 
$full-height: 100vh;
$width50: 50vw; 
$height50: 50vh;

//TAMANHOS GERAIS
$tiny: .6rem;
$small: .8rem;
$normal: 1rem;
$big: 2rem;
$large: 3rem;
$huge: 4rem;

// TAMANHO DAS FONTES
$txt-large: clamp($big, 50%, $large);
$txt-default: clamp($small, 70%, $normal);
$txt-small: clamp($tiny, 90%, $small);

// FONTE DE TEXTOS
$font-family: 'Oswald', sans-serif;

// IMAGENS 
$bg-login: url('../../../assets/img/bg-login.jpg')